<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.polyglotter.eclipse.objectContribution1"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.polyglotter.eclipse.Action"
               id="org.polyglotter.eclipse.action1"
               label="%action.label">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
         <category 
           id="org.polyglotter.eclipse"
           name="%project.name">
        </category>
      <view
            class="org.polyglotter.eclipse.View"
            id="org.polyglotter.eclipse.view1"
            name="%view.name"
            restorable="true">
      </view>
      <view
            category="org.polyglotter.eclipse"
            class="org.polyglotter.eclipse.view.TransformView"
            icon="icons/plugin_id.gif"
            id="org.polyglotter.eclipse.view.transformationsView"
            name="%transformView.name"
            restorable="true">
      </view>
      <view
            category="org.polyglotter.eclipse"
            class="org.polyglotter.eclipse.view.WorkspaceView"
            icon="icons/plugin_id.gif"
            id="org.polyglotter.eclipse.view.workspaceView"
            name="%workspaceView.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.polyglotter.eclipse.PerspectiveFactory"
            fixed="false"
            icon="icons/plugin_id.gif"
            id="org.polyglotter.eclipse.perspective"
            name="%project.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.polyglotter.eclipse.editor.TransformEditor"
            default="false"
            icon="icons/plugin_id.gif"
            id="org.polyglotter.eclipse.transformEditor"
            name="%transformEditor.name">
      </editor>
   </extension>

</plugin>
