# ignore Maven generated target folders
target

# ignore eclipse files and folders
.project
.classpath
.settings
.metadata
.externalToolBuilders
/.metadata
/RemoteSystemsTempFiles

# log files
*.log

# ignore OS X (Mac) files
.DS_Store
